<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Customers</key>
	<array>
		<dict>
			<key>email</key>
			<string>aman@gmail.com</string>
			<key>password</key>
			<string>aman</string>
		</dict>
		<dict>
			<key>email</key>
			<string>anmol@gmail.com</string>
			<key>password</key>
			<string>anmol</string>
		</dict>
	</array>
</dict>
</plist>
